body{
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.card{
    margin-top: 30px;
    background-image:linear-gradient(red,#efa11a,#ecedab,#3568ea,blue);
    width: 310px;
    max-height: 370px;
    border-radius: 7px;

   
    
}
.inputfield{
    width: 160px;
    border: none;
    margin-left: 4px;
    height: 25px;
    border-radius: 5px;
    margin-top: 10px;
    background-color:rgb(244, 244, 168);
    border: 1px  grey;
    box-shadow: 5px 5px 5px rgb(231, 228, 228);
}

.get{
    width: 130px;
    border: none;
    background-color:rgb(55, 192, 55);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(12, 120, 12);
    height: 26px;
    color: white;

}
.displaycard{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inputfield::placeholder{
    font-size: larger;
    padding-left: 5px;
    color: #9c6609;
}
.tempdisplay{
    font-size: 40px;
    font-weight: 650;
    margin-top: 0;
    color: rgb(44, 43, 43);
}
.displaycard p{
    margin: 7px;   
    
}
.emoji{
  font-size: 60px;
  
}
.errordisplay{
    font-size: 17px;
    font-weight: 500;
    color: rgb(90, 47, 47);
    margin-left: 50px;
}
.sky{
    font-style: italic;
    font-weight: 500;
    color: rgb(53, 52, 52);
}
.humidity{
    font-weight: 500;
    color: rgb(53, 52, 52);
}
h1{
    height: 25px;
}



